/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	--header-height: 148px;
}

body {
	overflow-x: hidden;
}

html {
	overflow-y: scroll;
}

body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
	
	&[width][height] {
		height: auto;
	}
	
	&[src$=".svg"] {
		width: 100%;
		height: auto;
		max-width: none;
	}
}

video,
iframe {
	width: 100%;
	height: auto;
}

iframe {
	aspect-ratio: 16/9;
}

p {
	line-height: 1.5;
	
	&:last-child {
		margin-bottom: 0;
	}
}
