@use 'variables' as *;

/* Cards */
.card {
  border: 0;
  color: #fff;
  padding: 15px;
  border-radius: 0;
  border-top-left-radius: 20px;
  max-width: unset;
  position: relative;
  
  .card_inner {
    background: #242424;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  
  h2 {
    font-size: 30px;
    
    a {
      text-decoration: none;
    }
  }
  
  h3 {
    font-size: 30px;
    text-align: center;
    margin: 10px 0 20px;
    
    a {
      text-decoration: none;
    }
  }
  
  time {
    opacity: 0.8;
  }
  
  a {
    text-decoration: none;
  }
  
  &:focus-within a:focus {
    outline: none;
  }
  
  .featured {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  img,
  picture {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  img {
    object-fit: cover;
    object-position: center;
  }
  
  .txt {
    position: relative;
    margin: 180px 0 0;
    padding: 30px;
    background: rgba(47, 47, 47, 0.7);
    backdrop-filter: blur(5px);
    border-top-left-radius: 40px;
    
    @media only screen and (min-width: 992px) {
      margin: 180px 30px 0;
    }
  }
  
  .excerpt {
    font-size: 14px;
    line-height: 1.6;
    margin: 15px 0 0;
    
    p {
      margin: 0;
      font-size: 16px;
      
      &:not(:first-child) {
        display: none;
      }
    }
    
    a {
      color: $green;
      text-decoration: underline;
    }
  }
}

/* Posts rows */
.posts-row {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 0;
  align-items: stretch;
  
  .card {
    flex: 1;
    padding: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }
  
  .card_inner {
    flex: 1;
    min-height: 480px;
  }
  
  .featured {
    position: absolute;
    inset: 0;
    height: 100%;
    padding-top: 0;
  }
  
  .txt {
    margin: auto 0 0;
    position: relative;
    z-index: 1;
    
    @media only screen and (min-width: 992px) {
      margin: auto 0 0 30px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

/* Last post */
.lastpost {
  position: relative;
  display: block;
  width: 100%;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  margin-right: -50%;
  
  h2 {
    font-size: 30px;
    margin-bottom: 15px;
    @media only screen and (min-width: 992px) {
      font-size: 48px;
    }
  }
  
  h3 {
    font-size: 48px;
  }
  
  .featured {
    overflow: hidden;
    position: relative;
    
    @media only screen and (min-width: 992px) {
      height: 500px;
    }
  }
  
  picture {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .txt {
    padding: 30px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-top-left-radius: 40px;
    
    @media only screen and (min-width: 992px) {
      width: 50%;
      position: absolute;
      bottom: 0;
      left: 30px;
    }
  }
  
  .img {
    overflow: hidden;
    
    @media only screen and (min-width: 992px) {
      height: 500px;
    }
  }
  
  .excerpt {
    margin: 15px 0 0;
    font-size: 16px;
    line-height: 1.6;
    a {text-decoration: none; color: #fff}
    p {
      margin: 0;
      font-size: 16px;
      
      @media only screen and (min-width: 992px) {
        font-size: 18px;
      }
      
      &:not(:first-child) {
        display: none;
      }
    }
    
  }
}

/* Tags */
.tag_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.tag {
  background: $green;
  text-transform: uppercase;
  padding: 5px 10px;
  border-top-left-radius: 8px;
  display: inline-block;
  font-weight: 600;
  
  a {
    background: $green;
    padding: 8px 8px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
}

.tags {
  text-transform: uppercase;
  font-family: $font-display;
  font-weight: 600;
  font-size: 22px;
  
  @media only screen and (min-width: 992px) {
    margin-top: 50px;
  }
  
  a {
    color: #bbb;
    text-decoration: none;
    letter-spacing: normal;
  }
}

/* Meta */
.meta {
  font-size: 16px;
  letter-spacing: normal;
  text-align: right;
  display: flex;
  font-family: $font-display;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 15px;
  
  a {
    color: $green !important;
  }
}

.author {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' width='24' height='24' color='%23000000'%3E%3Cdefs%3E%3Cstyle%3E.cls-6374f8d9b67f094e4896c670-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-6374f8d9b67f094e4896c670-1' cx='12' cy='7.25' r='5.73'%3E%3C/circle%3E%3Cpath class='cls-6374f8d9b67f094e4896c670-1' d='M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding: 0 0 0 35px;
}

.date {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' width='24' height='24' color='%23fff'%3E%3Cdefs%3E%3Cstyle%3E.cls-6374f8d9b67f094e4896c61a-1%7Bfill:none;stroke:currentColor;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Crect class='cls-6374f8d9b67f094e4896c61a-1' x='1.48' y='3.37' width='21.04' height='4.78'%3E%3C/rect%3E%3Crect class='cls-6374f8d9b67f094e4896c61a-1' x='1.48' y='8.15' width='21.04' height='14.35'%3E%3C/rect%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='5.3' y1='12.93' x2='7.22' y2='12.93'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='9.13' y1='12.93' x2='11.04' y2='12.93'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='12.96' y1='12.93' x2='14.87' y2='12.93'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='16.78' y1='12.93' x2='18.7' y2='12.93'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='16.78' y1='17.72' x2='18.7' y2='17.72'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='5.3' y1='17.72' x2='7.22' y2='17.72'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='9.13' y1='17.72' x2='11.04' y2='17.72'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='12.96' y1='17.72' x2='14.87' y2='17.72'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='6.26' y1='0.5' x2='6.26' y2='5.28'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='12' y1='0.5' x2='12' y2='5.28'%3E%3C/line%3E%3Cline class='cls-6374f8d9b67f094e4896c61a-1' x1='17.74' y1='0.5' x2='17.74' y2='5.28'%3E%3C/line%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding: 0 0 0 35px;
}

/* Posts wrapper - container for masonry grid */
.posts-wrapper {
  max-width: 1230px;
  margin: 30px auto 0;
  padding: 0 15px;
  
  @media only screen and (min-width: 768px) {
    padding: 0 30px;
  }
}
