@use 'variables' as *;

.header {
  position: fixed;
  z-index: 10000;
  height: var(--header-height, 93px);
  width: 100%;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  
  @media only screen and (min-width: 992px) {
    padding: 0 0 0;
  }
  
  * {
    transition: all 0.4s;
  }
}

.header__inner {
  width: 100%;
  z-index: 1;
  position: relative;
  
  .wrapper {
    max-width: 100%;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header.scrolled {
  height: 69px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-bottom-color: rgba(255, 255, 255, 0.15);
  
  .logo {
    padding-top: 0;
    
    svg {
      height: auto;
      width: 54px;
    }
  }
}

.sitename {
  color: #fff;
  display: none;
}

.logo {
  svg {
    width: 66px;
    height: 31px;
    position: relative;
    bottom: 0;
    
    @media only screen and (min-width: 992px) {
      width: 80px;
      height: auto;
    }
  }
}

.no-underline {
  text-decoration: none;
}

/* Navigation */
nav.navbar {
  position: var(--nav-position, absolute);
  inset-inline-end: 0.1rem;
  display: flex;
  
  ul {
    //background: var(--nav-list-background, #fff);
    //box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: var(--nav-list-layout, column);
    flex-wrap: wrap;
    gap: 0.9rem;
    height: var(--nav-list-height, 100vh);
    list-style: none;
    margin: auto 0;
    padding: var(--nav-list-padding, 2rem);
    position: var(--nav-list-position, fixed);
    inset-block-start: 0;
    inset-inline-end: 0;
    width: var(--nav-list-width, min(22rem, 100vw));
    visibility: var(--nav-list-visibility, visible);
  }
  
  [aria-expanded="false"] + ul {
    transform: var(--nav-list-transform, translateX(100%));
    visibility: var(--nav-list-visibility, hidden);
  }
  
  a {
    --text-color: #fff;
    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    padding: 0.1rem;
    text-decoration: none;
    
    &:where(:hover, :focus) {
      --border-color: var(--text-color);
    }
  }
  
  [aria-current="page"] {
    --border-color: #{$green};
    --text-color: #{$green};
  }
  
  button {
    all: unset;
    display: var(--nav-button-display, flex);
    align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    padding: 8px 0;
  }
  
  span {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-inline-end: 8px;
  }
  
  svg {
    height: 100%;
    width: auto;
  }
  
  [aria-expanded="true"] svg {
    transform: var(--nav-list-rotate, rotate(45deg));
  }
}

@media (max-width: 767px) {
  nav.navbar {
    display: none;
  }
}

@media (min-width: 48em) {
  nav.navbar {
    --nav-button-display: none;
    --nav-position: static;
    
    ul {
      --nav-list-background: transparent;
      --nav-list-layout: row;
      --nav-list-position: static;
      --nav-list-padding: 0;
      --nav-list-height: auto;
      --nav-list-width: auto;
      --nav-list-shadow: none;
      --nav-list-transform: none;
      --nav-list-visibility: visible;
    }
    
    a {
      --text-color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  nav.navbar [aria-expanded="true"] + ul,
  nav.navbar svg {
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), visibility 0.05s linear;
  }
}


.header {
        background-color: rgba(0, 0, 0, 0.8);
          backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  padding: 20px;
  z-index: 1000;
  width: 100%;
  transition: all 0.3s ease-in-out;
  .logo {
    svg {
      width: 110px;
      height: auto;
      transition: all 0.3s ease-in-out;
    }
  }
  .navbar {
    margin-left: auto;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  &.scrolled {
      background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        border-bottom-color: rgba(255, 255, 255, 0.15);
      .logonew {
          svg {
            width: 80px;
          }
        }
  }
}