/* Layout */
main,
footer {
	padding: 1rem;
}

main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.home-link {
	flex-grow: 1;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	
	&:link:not(:hover) {
		text-decoration: none;
	}
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
	
	/* Prevent visually-hidden skip link from pushing content around when focused */
	&.visually-hidden:focus {
		position: absolute;
		top: 1rem;
		left: 1rem;
		/* Ensure it is positioned on top of everything else when it is shown */
		z-index: 999;
	}
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
	
	> * {
		flex-grow: 1;
	}
}

.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
	
	td,
	th {
		padding-right: 1em;
	}
}
