@use 'variables' as *;

/* Message Box */
.message-box {
	--color-message-box: #{$color-message-box-light};

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 1em 0.625em; /* 16px 10px /16 */
	
	ol {
		margin-top: 0;
	}
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #{$color-message-box-dark};
	}
}
