/* Global variables */

$xs: 576px;
$sm: 768px;
$md: 992px;
$dk: 1024px;
$lg: 1200px;

:root {
  --color-dark: #e7e7e7;
  --gutter: var(--space-s-m);
  --border-radius: 0.5rem;
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --gutter: 60px;
  --font-display: "Quicksand", "sans-serif";
  --font-base: "Quicksand", "sans-serif";
  --green: #BEC32D
}
