---
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---
<div class="page-loader">
	<div class="spinner"></div>
</div>

<article class="region">
	{%- set lastpost = collections.posts | reverse | first %}
	{%- if lastpost %}
	<div class="lastpost">
		<div class="card_inner">
			{%- if lastpost.data.featured %}
			{%- set lastpostImage = lastpost | getFeaturedImagePath %}
			<div class="featured">
				<img src="{{ lastpostImage }}" alt="{{ lastpost.data.title }}" loading="lazy" decoding="async" sizes="100vw">
			</div>
			{%- endif %}
			<div class="txt">
				<h2><a href="{{ lastpost.url }}">{{ lastpost.data.title }}</a></h2>
				<div class="meta">
					{%- if lastpost.data.author %}
					<div class="author">{{ lastpost.data.author }}</div>
					{%- endif %}
					<div class="date">{{ lastpost.data.date | readableDate("dd MMMM yyyy") }}</div>
				</div>
			{%- if lastpost.data.excerpt %}
			<div class="excerpt">{{ lastpost.data.excerpt | safe }}</div>
				{%- endif %}
				{%- if lastpost.data.tags %}
				<div class="tag_wrapper">
					{%- for tag in lastpost.data.tags | filterTagList %}
					<a href="/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
					{%- endfor %}
				</div>
				{%- endif %}
			</div>
		</div>
	</div>
	{%- endif %}

	<div class="posts-wrapper">
		{%- set postsList = collections.posts | reverse | head(7) %}
		{%- for post in postsList %}
		{%- if loop.index0 > 0 %}
		{%- set cardIndex = loop.index0 - 1 %}
		{%- if cardIndex % 3 === 0 %}
		<div class="posts-row">
		{%- endif %}
			<div class="card">
				<div class="card_inner">
					{%- if post.data.featured %}
					{%- set postImage = post | getFeaturedImagePath %}
					<div class="featured">
						<img src="{{ postImage }}" alt="{{ post.data.title }}" loading="lazy" decoding="async">
					</div>
					{%- endif %}
					<div class="txt">
						<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
						<div class="meta">
							{%- if post.data.author %}
							<div class="author">{{ post.data.author }}</div>
							{%- endif %}
							<div class="date">{{ post.data.date | readableDate("dd MMMM yyyy") }}</div>
						</div>
					{%- if post.data.excerpt %}
					<div class="excerpt">{{ post.data.excerpt | safe }}</div>
						{%- endif %}
						{%- if post.data.tags %}
						<div class="tag_wrapper">
							{%- for tag in post.data.tags | filterTagList %}
							<a href="/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
							{%- endfor %}
						</div>
						{%- endif %}
					</div>
				</div>
			</div>
		{%- if cardIndex % 3 === 2 or loop.last %}
		</div>
		{%- endif %}
		{%- endif %}
		{%- endfor %}
	</div>
</article>

<script>
	// Hide loader
	const pageLoader = document.querySelector('.page-loader');
	if (pageLoader) pageLoader.classList.add('loaded');
</script>
