.header {
	// background: linear-gradient(0deg, rgba(175,179,44,1) 0%, rgba(142,146,6,1) 100%);
	// background: var(--green);
	// border-bottom: 2px solid #fff;
	// position: fixed;
	z-index: 1;
	height: 100px;
	width: 100%;
	transition: all .4s;
	top: 0;
	left: 0;
	border-bottom: 1px solid transparent;
	@include md {
		padding: 30px 0 0;
	}
	* {
		transition: all .4s;
	}
	.fixed & {
		height: 40px;
		overflow: hidden;
		padding: 5px;
		//background: rgba(#181818, .95);
		border-bottom-color: rgba(#fff,.05);
		.logo {
			padding-top: 0;
			svg {
				height: 30px;
				width: 63px;
			}
			polygon, path {
				// fill: #333 !important;
			}
		}
	}
}

.header .wrapper {
	// background: linear-gradient(0deg, rgba(187,188,71,1) 0%, rgba(187,188,71,1) 100%); 
	// border-top-left-radius: 50px;
	// box-shadow: 1px 0px 25px rgba(0,0,0,0.05);
	padding-left: 30px;
}


.sitename {
	color: #fff;
	display: none;
}