---
layout: base
---




<article class="region" style="--region-space-top: var(--space-s)">

<!-- TODO: duplicate of partials/blog.njk -->

{% set lastpost = collections.post | reverse %}

{% for post2 in lastpost.slice(0, 1) %}
	<div class="lastpost">
		{% if post2.data.featured %}
			<div class="img">
				<img src="{{ post2.data.featured }}" alt="">
			</div>
		{% endif %}
		<div class="txt">
			{% for tag in post2.data.tags %}
				{% if tag != "post" and tag != "posts"  %}
					<div class="tag_wrapper">
						<span class="tag">{{ tag }}</span>
					</div>
				{% endif %}
			{% endfor %}
			<h3><a href="{{ post2.url | url }}" class="lastpost">{{ post2.data.title }}</a></h3>
			<div class="meta">
				<div class="author">Par {{ post2.data.author }}</div> <div class="date">{% include "partials/date.njk" %}</div>
			</div>
			<div class="excerpt">
				{% excerpt post2 %}
				{%- if post2.data.page.excerpt -%}
					<p>{{ post2.data.page.excerpt | toHTML | safe }}</p>
				{%- endif -%}
			</div>
		</div>
	</div>
{% endfor %}

<div class="masonry" role="list">
{% set postslist = collections.post | reverse %}
	{% for post in postslist.slice(1, 11) %}
		<div class="card">
			<div class="card_inner">
				<div class="featured">
					{% if post.data.featured %}
						<img src="{{ post.data.featured }}" alt="">
					{% endif %}
				</div>
				<div class="txt">
					<div class="tag_wrapper">
						{% for tag in post.data.tags %}
							{% if tag != "post" and tag != "posts"  %}
								<span class="tag">{{ tag }}</span>
							{% endif %}
						{% endfor %}
					</div>
					<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
					{% set definedDate = post.date %}
					<div class="meta">
						<div class="author">Par {{ post.data.author }}</div>
						<div class="date">{% include "partials/date.njk" %}</div>
					</div>
					{% excerpt post %}
					{%- if post.data.page.excerpt -%}
						<p>{{ post.data.page.excerpt | toHTML | safe}}</p>
					{%- endif -%}
				</div>
			</div>

		</div>
	{% endfor %}
</div>
</article>


<script>
	var grid = document.querySelector('.masonry');
	var msnry = new Masonry( grid, {
	  itemSelector: '.card',
	  percentPosition: true
	});
</script>

