---
layout: base
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="blog">
  <div class="_wrapper flow prose">
    <div class="tags">

      {% for tag in tags %}
        {% if tag != "post" and tag != "posts"  %}
          <a href="">{{ tag }}</a>
        {% endif %}
        
      {% endfor %}
    </div>
    <h1>{{ title }}</h1>

    {% set definedDate = date %}
    <div class="meta">
      <div class="author">Par {{ author }}</div>
      <div class="date">{% include "partials/date.njk" %} </div>
    </div>
    {% if featured %}
      <img src="{{ featured }}" alt="">
    {% endif %}

    {{ content | safe }}
  </div>

</article>


    {%- if comments[legacy_wordpress_id] %}
  <div class="comments-wrapper section-inner">

    <div class="container">




      
<div class="comments" id="comments">

  
  <div class="comments-header section-inner small max-percentage">

    <h2 class="comment-reply-title">
    1 reply on “Bonjour tout le monde&nbsp;!”     </h2><!-- .comments-title -->

  </div><!-- .comments-header -->

  <div class="comments-inner section-inner thin max-percentage">


            {% for comment in comments[legacy_wordpress_id] %}

          <div id="comment-1" class="comment even thread-even depth-1">
      <article id="div-comment-1" class="comment-body">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            
              
            


            {%- if comment.comment_author_url %}
            <a href="{{comment.comment_author_url }}" rel="external nofollow" class="url">
            {%- endif %}


            <img alt="" src="http://1.gravatar.com/avatar/d7a973c7dab26985da5f961be7b74480?s=120&amp;d=mm&amp;r=g" class="avatar avatar-120 photo" width="120" height="120"><span class="fn">{{ comment.comment_author }}</span><span class="screen-reader-text says">says:</span>


            {%- if comment.comment_author_url %}
              </a>
            {%- endif %}



                       </div><!-- .comment-author -->

          <div class="comment-metadata">
            <a href="http://64k.test/2019/12/28/bonjour-tout-le-monde/#comment-1">
                              <time datetime="2019-12-28T21:36:36+01:00" title="28 décembre 2019 at 21 h 36 min">
                {{ comment.comment_date }}              </time>
            </a>
                        </div><!-- .comment-metadata -->

        </footer><!-- .comment-meta -->

        <div class="comment-content entry-content">

          {{ comment.comment_content }}

        </div><!-- .comment-content -->

        
          <footer class="comment-footer-meta">

            <span class="comment-reply"><a rel="nofollow" class="do-not-scroll comment-reply-link" href="http://64k.test/2019/12/28/bonjour-tout-le-monde/?replytocom=1#respond" data-commentid="1" data-postid="1" data-belowelement="div-comment-1" data-respondelement="respond" aria-label="Répondre à Un commentateur WordPress">Répondre</a></span>
          </footer>

          
      </article><!-- .comment-body -->

    </div><!-- #comment-## -->
    {% endfor %}

  </div><!-- .comments-inner -->

</div><!-- comments -->













      </div>


  </div><!-- .comments-wrapper --> 

   {%- endif %}

<!-- include blogpost schema  -->
{%- include "schemas/blogpost-schema.njk" %}
