---
layout: layouts/base.njk
hasHero: true
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>

<div class="post-layout | region">
<article class="blog post-content-main">
	{%- if not hasHero %}
	<header class="post-header">
		<h1>{{ title }}</h1>
		
		<div class="meta">
			{%- if author %}
			<div class="author">{{ author }}</div>
			{%- endif %}
			<div class="date">{{ page.date | readableDate("dd MMMM yyyy") }}</div>
		</div>
		
		{%- if tags | filterTagList | length > 0 %}
		<div class="tag_wrapper">
			{%- for tag in tags | filterTagList %}
			<a href="/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
			{%- endfor %}
		</div>
		{%- endif %}
	</header>
	{%- endif %}

	<div class="post-content">
		{{ content | safe }}
	</div>

	{# Related posts section #}
	{% include "related-posts.njk" %}

	{# Comments section #}
	{%- if legacy_wordpress_id %}
	{%- set postComments = legacy_wordpress_id | getCommentsForPost(comments) %}
	{%- if postComments.length > 0 %}
	<section class="comments">
		<h2>Commentaires ({{ postComments.length }})</h2>
		
		{%- for comment in postComments %}
		<article class="comment">
			<header class="comment-header">
				<strong class="comment-author">
					{%- if comment.comment_author_url and comment.comment_author_url != 'http://.' %}
					<a href="{{ comment.comment_author_url }}" rel="nofollow">{{ comment.comment_author }}</a>
					{%- else %}
					{{ comment.comment_author }}
					{%- endif %}
				</strong>
				<time datetime="{{ comment.comment_date }}">
					{{ comment.comment_date | readableDate("dd MMMM yyyy 'à' HH:mm") }}
				</time>
			</header>
			<div class="comment-content">
				{{ comment.comment_content | nl2br | safe }}
			</div>
		</article>
		{%- endfor %}
	</section>
	{%- endif %}
	{%- endif %}
</article>
</div>